$gradient-color: linear-gradient(to bottom right, #1abc9c , #16a085,#3498db,#9b59b6 );
$gradient-btn: linear-gradient( to right, #97f0de,#3498db, #1470ad );
$primary-color: #29c0c2;
$secondary-color: #bb2dfd;
$warn-color:#FFB74D;
// $blue-color: #3498db;
$blue-color: #1470ad;
$body-bg-color:rgba(206, 247, 248, 0);
$sidenav-text-color:rgba(255, 255, 255, 0.705);
$sidenav-icon-color:rgba(238, 234, 234, 0.37);
$sidenav-background-color:#212121;
$pg-heading-bg-color:#0000800e;
$gradient-btn-2: linear-gradient(to right, #3498db, #1470ad);
$table_header: rgb(230, 230, 230);


