@import '../../../../assets/myPartials/variables';

nav{
    // height: 100%;
    
    background: $gradient-btn;
    .sidenav-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            // background-color: rgb(218, 215, 215);
            color:$secondary-color;
            border-radius: 30%;
        }
    }
}