<div class="container-fluid m-0 p-0">
    <div class="main-heading">
        <h3 style="font-size: 24px;">DASHBOARD</h3>
    </div>
    <div class="container card_container d-flex align-items-center justify-content-center">
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-4">
            <div class="card card1 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row  align-items-center">
                        <div class="col mr-2">
                            <small class="fw-bold mb-1">
                                NO OF DOCTORS</small>
                            <div class="num1 h3 mt-2 mb-0 fw-bold ">{{totalDoctors}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-4">
            <div class="card card2 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row  align-items-center">
                        <div class="col mr-2">
                            <small class="fw-bold text-uppercase mb-1">
                                PENDING DOCTORS</small>
                            <div class="num2 h3 mt-2 mb-0 fw-bold text-gray-800">{{pendingDoctors}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-4">
            <div class="card card3 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row  align-items-center">
                        <div class="col mr-2">
                            <small class="fw-bold text-uppercase mb-1">
                                ACTIVE SURVEYS</small>
                            <div class="num3 h3 mt-2 mb-0 fw-bold text-gray-800">{{activeSurveys}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-4">
            <div class="card card4 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row  align-items-center">
                        <div class="col mr-2">
                            <small class="fw-bold text-uppercase mb-1">
                                PHARMA COMPANIES</small>
                            <div class="num4 h3 mt-2 mb-0 fw-bold text-gray-800">{{pharmaAdminCount}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-building fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>